
.contactComponent{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.contactComponent .contact-inner .main-heading{
  text-align: center;
  margin-bottom: 20px;
}

.contactComponent .contact-inner .main-heading h1{
color: #1f2937;
font-weight: 500;
font-size: 24px;
line-height: 32px;
}

.contactComponent .contact-inner .main-heading p{
  font-size: 17px;
 font-weight: 450;
   color: #9ca3af;
   margin-top: 5px;
}

.contact-inner .main-input{
  display: flex;
  justify-content: center;
  margin-top: 30px;
    width: 100%;
}

.contact-inner .main-input form{
  display: flex;
  max-width: 520px;
  width: 100%;
}

.contact-inner .main-input input{
  width: 100%;
  padding: 15px 15px;
  font-size: 17px;
  border: solid 1px;
  outline: none;
  border-right: none;
}

.contact-inner .main-input input::placeholder{
  font-size: 17px;
}

.contact-inner .main-input button{
  padding: 5px 40px;
  cursor: pointer;
  margin-left: 0;
  background-color: #000;
  color: #fff;
  font-size: 17px;
  outline: none;
  border: solid 1px #000;
}

@media only screen and (max-width: 450px){
.contactComponent .contact-inner .main-heading p{
  padding: 0 20px;
}

.contact-inner .main-input{
  padding: 0 20px;
}

.contact-inner .main-input button{
  padding: 5px 30px;
}
}
