
.productsComponent{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.productsComponent .products-inner .main-headings{
  text-align: center;
}

.productsComponent .products-inner .main-headings .first-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.productsComponent .products-inner .main-headings .first-heading hr{
  border: solid 1px #414141;
  height: 2px;
  background-color: #414141;
  width: 65px;
}

.productsComponent .products-inner .main-headings .first-heading h1{
  color: #374151;
  font-weight: 500;
  font-size: 35px;
}

.productsComponent .products-inner .main-headings .first-heading h1 span{
  color: #6b7280;
  font-weight: 500;
}

.productsComponent .main-headings .info-text p{
  font-size: 17px;
  font-weight: 500;
  color: rgb(75 85 99);
  line-height: 20px;
  margin-top: 12px;
}

.productsComponent .products{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  width: 100%;
  row-gap: 30px;
  column-gap: 8px;
}

.productsComponent .products .product-img{
  max-width: 225px;
  cursor: pointer;
  overflow: hidden;
}

.productsComponent .products .product-img img{
width: 100%;
max-width: 225px;
height: auto;
transition: .2s ease-in-out;
}

.productsComponent .products .product-img img:hover{
  scale: 1.1;
}

.productsComponent .products .product-title p{
color: #374151;
margin-top: 8px;
margin-bottom: 5px;
font-size: 16px;
}

.productsComponent .product-price p{
 font-size: 17px;
}

@media only screen and (max-width: 1240px){
  .productsComponent{
    padding: 0 35px;
  }
.productsComponent .products{
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  row-gap: 30px;
}

}

@media only screen and (max-width: 840px){
  .productsComponent .products {
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      row-gap: 30px;
  }
}

@media only screen and (max-width: 600px){
  .productsComponent{
    padding-left: 20px;
    padding-right: 20px;
  }
  
.productsComponent .products{
  grid-template-columns: 1fr 1fr;
}
}

@media only screen and (max-width: 450px){


  .productsComponent .products-inner .main-headings .first-heading h1{
    font-size: 28px;
  }

  .productsComponent .products-inner .main-headings .first-heading hr{
width: 45px;
  }

.productsComponent .main-headings .info-text p{
  padding: 0 10px;
}

}
