
.placeOrderPage{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 60px;
}

.placeOrderPage .inner{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.placeOrderPage .inner .main-heading{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.placeOrderPage .inner .main-heading hr{
border: solid 1px #414141;
 height: 2.5px;
background-color: #414141;
  width: 45px;
}

.placeOrderPage .inner .main-heading h1{
  color: #6b7280;
  font-weight: 450;
  font-size: 24px;
  font-family: Outfit;
}

.placeOrderPage .inner .main-heading span{
color: #374151;
  font-weight: 450;
    font-size: 24px;
    font-family: Outfit;
}

.placeOrderPage .main-inputs{
  max-width: 460px;
  width: 100%;
}

.placeOrderPage .main-inputs input{
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
  border: solid 1px #d1d5db;
  padding-left: 10px;
  font-size: 18px;
  outline: none;
}

.placeOrderPage .main-inputs .name-surname-inp{
display: flex;
gap: 10px;
margin-bottom: 15px;
}

.placeOrderPage .main-inputs .email-inp,.street-inp{
margin-bottom: 15px;
}

.city-inp{
display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.zipCountry-inp{
display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.placeOrderPage .items-summaray-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 70px;
  max-width: 500px;
    width: 100%;
}

.placeOrderPage .items-summaray-container .container {
  width: 100%;
}

.placeOrderPage .items-summaray-container h2 {
  font-size: 28px;
  color: #414141;
  font-weight: 500;
  font-family: serif;
}

.placeOrderPage .items-summaray-container .heading{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 13px;
    border-bottom: solid 1px #e5e7eb;
    margin-bottom: 30px;
    padding-bottom: 3px;
    gap: 10px;
}

.placeOrderPage .items-summaray-container .heading hr{
height: 2.5px;
border: solid 1px #414141;
background-color: #414141;
width: 50px;
}

.placeOrderPage .items-summaray-container .total-price {
  border-bottom: solid 1px #e5e7eb;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placeOrderPage .items-summaray-container .total-price p {
  padding-bottom: 3px;
  font-size: 18px;
}

.placeOrderPage .items-summaray-container .total-price span {
  padding-bottom: 3px;
  font-size: 18px;
}

.placeOrderPage .items-summaray-container .shipping-text {
  border-bottom: solid 1px #e5e7eb;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placeOrderPage .items-summaray-container .shipping-text p {
  font-size: 18px;
  margin-top: 25px;
}

.placeOrderPage .items-summaray-container .shipping-text span {
  font-size: 18px;
  margin-top: 25px;
}

.placeOrderPage .items-summaray-container .final-total-price {
  border-bottom: solid 1px #e5e7eb;
  padding-bottom: 3px;
  margin-bottom: 8px;
  font-size: 18px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placeOrderPage .items-summaray-container .final-total-price p {
  font-size: 18px;
    font-weight: 500;
}

.placeOrderPage .items-summaray-container .final-total-price span {
  font-size: 18px;
}

.placeOrderPage .items-summaray-container .cart-payment-button {
  margin-top: 8px;
}

.placeOrderPage .items-summaray-container .cart-payment-button button {
  width: 100%;
  padding: 10px 60px;
  font-size: 17px;
  border: solid 1px #000;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
  transition: .4s ease;
}

.placeOrderPage .items-summaray-container .cart-payment-button button:hover {
  background-color: #545454;
  border: solid 1px #545454;
}

.placeOrderPage .payment-options{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.placeOrderPage .options{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.placeOrderPage .options-heading{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.placeOrderPage .options-heading h4{
  color: #6b7280;
    font-weight: 450;
    font-size: 18px;
    font-family: Outfit;
}


.placeOrderPage .options-heading span{
  font-size: 18px;
    color: #374151;
    font-weight: 450;
    font-family: Outfit;
}

.placeOrderPage .options-heading hr{
height: 2px;
  border: solid 1px #414141;
  background-color: #414141;
  width: 37px;
}

.placeOrderPage .options .optionOne{
  border: solid 1px #d1d5db;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 13px;
  align-items: center;
  padding: 8px 5px;
  cursor: pointer;
}

.placeOrderPage .options .optionOne p{
  border: solid 1px;
  padding: 5px;
  border-radius: 50%;
}

.placeOrderPage .options .optionOne img{
  height: 20px;
}

.placeOrderPage .options .optionOne h4{
  font-size: 15px;
  color: #6b7280;
}

.placeOrderPage .options #lastOption p{
  background-color: #4ade80;
  border-color: #4ade80;
}

@media only screen and (max-width: 1240px) {
  .placeOrderPage {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 800px){
  .placeOrderPage .inner{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 450px){
.placeOrderPage .options .optionOne img {
    height: 15px;
  }

  .placeOrderPage .options .optionOne h4 {
    font-size: 10px;
    color: #6b7280;
  }

.placeOrderPage .items-summaray-container .cart-payment-button{
  width: 100%;
}
}
